body
{
    background-image: url("./assets/space.jpg");
}

.letter
{
    margin-top: 20%;
    text-align: center;
    font-size: 5rem;
    color: lightskyblue;
    text-shadow: 1px 1px 1px whitesmoke;
    font-style: oblique;
    opacity: 0;
    animation-name: rotation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear ease-in-out;
}

@keyframes rotation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*
@keyframes rotation {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(3, 0, -3, 1080deg);
    }
}
*/


/*
@keyframes rotation {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(90deg) rotateY(90deg) rotateZ(360deg);
    }
    100% {
        transform: rotateX(360deg) rotateZ(360deg);
    }
}
*/


/*
@keyframes rotation {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
    75% {
        transform: rotateX(90deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateZ(0deg);
    }
}
*/
