*
{
    background: linear-gradient(135deg, orange 30%, purple 55%);
}

h1
{
    text-align: center;
    background-color: transparent;
}

header
{
    background-color: transparent;
}

#titlebox
{
    animation-name: rotationletter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-transform: rotateX(0deg);
}

@keyframes rotationletter {
    0% {
        transform: rotateX(0deg);
    }
    100%
    {
        transform: rotateX(360deg);
    }
}

#titlebox:hover
{
    animation-name: secondtranshover;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-transform: rotateY(360deg);
}

@keyframes secondtranshover {
    0% {
        transform: rotateY(0deg);
    }
    100%
    {
        transform: rotateY(360deg);
    }
}

.tochangecolor
{
    color: white;
}

.position
{
    transform: translateX(400px);
}
