*
{
    background: linear-gradient(135deg, lightblue 30%, purple 55%);
}

h1
{
    text-align: center;
    background-color: transparent;
}

header
{
    background-color: transparent;
}

#titlebox
{
    font-size: 2rem;
    animation-name: rotationletter;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes rotationletter {
    0% {
        transform: rotateX(0deg);
    }
    100%
    {
        transform: rotateX(360deg);
    }
}

#rotate-me
{
    font-size: 2rem;
    color: blue;
}

#rotate-me:hover
{
    animation-name: secondtranshover;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes secondtranshover {
    0% {
        transform: rotateY(0deg);
    }
    100%
    {
        transform: rotateX(360deg);
    }
}

.tochangecolor
{
    color: white;
}

.position 
{
    transform: rotateY(360deg);
}